*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body
{
    background-color: lightslategray;
 
}
nav
{
    background-color: aliceblue;
    text-align: left;
}
li
{
    
    display: inline-block;
    padding: 1.5%;
    
}
a
{
  text-decoration: none;
  color: black;
  
}